[build-system]
  build-backend = "uv_build"
  requires = ["uv_build"]

[dependency-groups]
  dev = ["dycw-utilities[test]", "pyright", "rich"]

[project]
  authors = [{ email = "d.wan@icloud.com", name = "Derek Wan" }]
  dependencies = [
    "click >=8.3.0, <8.4",
    "dycw-utilities >=0.172.6, <0.173",
    "pathvalidate >=3.3.1, <3.4",
    "prompt-toolkit >=3.0.52, <3.1",
    "tabulate >=0.9.0, <0.10",
    "titlecase >=2.4.1, <2.5",
    "tqdm >=4.67.1, <4.68",
  ]
  description = "Library to rename e-books"
  name = "rename-books"
  readme = "README.md"
  requires-python = ">= 3.14"
  version = "0.7.0"

  [project.scripts]
    rename-books = "rename_books.cli:main"
